body {
  background: #ddd;
  font-family: monospace;
}

.topnav {
  background: linear-gradient(to right, #000, #060);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right {
  float: right;
}

#navicon {
  font-size: 1.25em;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #060;
  color: white;
}

main {
  width: 100%;
  margin: 70px auto;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
  background: #67c656;
}

#titlebox {
  background: #000;
  margin: auto;
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 38px;
}

.gridhome {
  display: grid;
  background-color: #67c656;
  height: auto;
  width: 100%;
  grid-template: repeat(4, 25%) / 100%;
  margin: auto;
}

.overview {
  width: auto;
  background: #67c656;
  padding: 20px;
}

#me {
  width: 45%;
  border-radius: 50%;
  overflow: auto;
  margin: auto;
}

h3 {
  font-size: 30px;
}

h2 {
  overflow: auto;
  color: #000;
  font-size: 25px;
}

#northcoders {
  width: 100%;
  margin: auto;
}

#FAcol {
  color: #000;
}

#contactinfo {
  background: #67c656;
  color: #000;
  font-size: 25px;
}

h6 {
  font-size: 30px;
}

#contactForm {
  margin: 20px;
}
